<!--<%= javascript_include_tag "application" %>-->
<div id="main-list" >
    <div class="row-fluid">
        <div class="title span8">
            WildeBier!
        </div>
        <div class="user-info span4">
                <% if signed_in? %>
                  <%= link_to current_user.first_name + " " + current_user.last_name, user_path(current_user) %>
                  <br />
                  <%= link_to "Sign out", signout_path, method: :delete %>
                <% else %>
                  - Not signed in -<%= link_to "Sign in", signin_path %>
                <% end %>
                <% if current_user.admin? %>
                    <br />
                    <%= link_to "ADMIN", admin_path %>
                <% end %>
                <div id="fb-info">FB INFO</div>
        </div>
    </div>

    <!-- pass rails user data into javascript -->
    <script id="rails_user_data" type="text/json" >
        <%= current_user.to_json %>
    </script>
    
    <div id="list"></div>
</div>
<!--
<%= debug(User.find_by_remember_token(cookies[:remember_token])) if Rails.env.development? %>
-->