<% provide(:title, @user.first_name) %>
 <div class="row-fluid">
        <div class="title span8">
            <h1>
                 <%= @user.first_name %> <%= @user.last_name %>
            </h1>

        </div>
    </div>
<div class="row">
    <div class="span4 offset2"><%=@user.first_name %></div>
</div>
<div class="row">
    <div class="span4 offset2"><%=@user.last_name %></div>
</div>
<div class="row">
    <div class="span4 offset2"><%=@user.email %></div>
</div>
<% if current_user || @user.admin %>
<div class="row">
    <div class="span4 offset2"><ADMIN GUY><%= link_to( 'EDIT', edit_user_path )%> </div>
</div>
<% end %>
